
.card {
    margin: 20px;
  }
  
  .mat-card {
    width: 370px; 
    height: 250px;
    background-color: rgb(223, 102, 22);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
    }
  }
  
  .mat-card-content {
    padding: 20px; 
  }
  
  .quote {
    font-size: 20px; 
    font-weight: bold;
    color: rgb(184, 11, 11);
    margin-bottom: 12px;
  }
  
  .field-name {
    font-size: 16px; 

    color: #000000;
    margin-bottom: 10px;
  }
  
  